body {
  font-family: 'Amatic SC', cursive;
  background: rgba(1, 1, 1, 1);
  background-image: url("bookshelves.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.header h1 {
  color: #D3D3D3;
  font-size: 50px;
  text-align: center;
}

.header h2 {
  color: #D3D3D3;
  text-align: center;
  font-size: 40px;
  line-height: 15px;
  position: relative;
  padding-top: -10px;
}

.header {
  background-color: rgba(128,128,128,.7);
  height: 115px;
  position: center;
}

#social-buttons {
  position: center;
  margin: 0 auto;
  text-align: center;
  line-height: 70px;
}

.sidebar {
  width: 25%;
  height: 100%;
  background-color: rgba(128, 128, 128, .7);
  position: relative;
}

.nav {
  color: #D3D3D3;
  font-size: 35px;
  line-height: 70px;
  width: 25%;
}
.nav ul {
  margin-bottom: 0px;

}

a {
  color: #D3D3D3;
}

a:visited {
  color: #D3D3D3;
}

a:hover {
  color: black;
  text-decoration: none;
}

.btn-twitter {
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 15, 15, 15, 15;
  width: 60px;
  height: 40px;
  background-color: #1DA1F2;
  color: white;
}

.btn-instagram {
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 15, 15, 15, 15;
  width: 60px;
  height: 40px;
  background-color: #cd486b;
  color: white;
}

.btn-facebook {
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 15, 15, 15, 15;
  width: 60px;
  height: 40px;
  background-color: #3B5998;
  color: white;
}
